<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutPara %></p>
    <p>This Website has been created using: </p>
<ul>
    <li>Bootstrap</li>
    <li>EJS</li>
    <li>Express Node JS</li>
    <li>MongoDB Atlas</li>
</ul>
<%- include("partials/footer"); -%>